asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-environ
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
idna
mysqlclient
oauthlib
psycopg2
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3
